<script>
function validata()
{
	if (!is_empty('name'))
	{
		alert('采集内容名称不能为空。');
		$('name').focus();
		return false;
	}
	
	if (!check_account_return('name','check_name_info','false'))
	{
		alert('名称只能由汉字、字母、数字、上划线、下划线及小括号组成。');
		$('name').focus();
		return false;
	}
	
	return true;
}

//表单提交
function addcorp()
{
	if (!validata()) 
    {
        return;
    }
    $('valuelist').value = tree.getAllChecked();
    $('form1').action = "/col/add_ug/";
	$('form1').submit();		
}

function ajax_request_tmpls() {
	Ajax.Updater({url:'/col/ajax_show_tmpls', id:'aj_sel_tmpl', loadingid:'loading'});
}

</script>
<form id="form1" method="post" action="/col/add_ug/" >
	<input type="hidden" name="sign" value='2' />
	<input type="hidden" id="valuelist" name="valuelist" />
    <input type="hidden" id="parent_id" name="parent_id" value="{/$parent_id/}" />
    
	<table>
	<tr><td>
		<div class="list">
				<div class="content_menu_title1">增加采集内容</div>
                <div id="loading" style="float:right;display:none;color:#FFB200;font-weight:800;">数据处理中...</div>
		</div>

		<div class="clear"></div>
		<div id="main_content">
			<table align="center" cellpadding="5px" cellspacing="0" class="form_table">
			<tr>
				<td class="tdleft tdtop">&nbsp;</td>
				<td class="tdright tdtop"><span class="black">注：</span><span class="red-font">*</span><span class="black">为必填选项</span></td>
			</tr>
			<tr>
				<td class="tdleft">内容名称：</td>
				<td class="tdright">
					<input type="text" name="name" id="name" size="30" maxlength="20" value="" class="intext" onblur="check_account_return('name','check_name_info','false','不能为空');" />
					&nbsp;<span class="red-font">*</span> 
					<span id="check_name_info">填写采集内容名称</span>
				</td>
			</tr>
			<tr>
				<td class="tdleft">内容编码：</td>
				<td class="tdright">
					<input type="text" name="code" id="code" size="30" maxlength="20" class="intext" value="" />
					 &nbsp;内容编码填写需保证其唯一性，如为空系统将自动生成
				</td>
			</tr>
			<tr>
				<td class="tdleft">选择模板：</td>
				<td class="tdright">
                    <div id="aj_sel_tmpl"></div> 
				</td>
			</tr>
			<tr>
				<td class="tdleft">选择参与部门：</td>
				<td class="tdright">
                    <div id="treebox" class="innerTree" style="width:327px;height:500px;verflow:auto; background-color:#ffffff;border:solid 1px thin; border-color:#DCDCDC;"></div>
				</td>
			</tr>
			<tr>
				<td class="tdleft">备  注：</td>
				<td class="tdright">
					<textarea name="remark" wrap="soft" cols="82" rows="4" class="intext"></textarea>
				</td>
			</tr>
			
			<tr>
				<td class="tdleft tdbottom">&nbsp;</td>
				<td class="tdright tdbottom">
    			    <input type="button" class="button" value="确定" onclick="addcorp();" />
    			    <input type="button" class="button" value="取消" onclick="window.history.back()" />
				</td>
			</tr>
			</table>
		</div>

	
</td></tr>
	</table>
</form>
<script>	
    ajax_request_tmpls();
    load_corp_tree();
    try {	$('name').focus(); } catch(e) {}
</script>	

