<script>
function validata()
{
	if (!is_empty('name'))
	{
		alert('下级单位名称不能为空。');
		$('name').focus();
		return false;
	}
	
	if (!check_account_return('name','check_name_info','false'))
	{
		alert('单位名称只能由汉字、字母、数字、上划线、下划线及小括号组成。');
		$('name').focus();
		return false;
	}
	if (is_empty('email'))
	{
		if (!check_email('email'))
		{
			alert('E-mail格式不正确，请输入正确的e-mail或保持为空。');
			$('email').focus();
			return false;
		}
	}
	return true;
}
</script>
<form method="post" action="/ug/add_ug/" onsubmit="return validata();">
	<input type="hidden" name="sign" value='0' />
	
	<table>
	<tr><td>
		<div class="list">
				<div class="content_menu_title1">增加下级单位</div>
		</div>

		<div class="clear"></div>
		<div id="main_content">
			<table align="center" cellpadding="5px" cellspacing="0" class="form_table">
			<tr>
				<td class="tdleft tdtop">&nbsp;</td>
				<td class="tdright tdtop"><span class="black">注：</span><span class="red-font">*</span><span class="black">为必填选项</span></td>
			</tr>
			<tr>
				<td class="tdleft">单位名称：</td>
				<td class="tdright">
					<input type="text" name="name" id="name" size="30" maxlength="20" value="" class="intext" onblur="check_account_return('name','check_name_info','false','不能为空');" />
					&nbsp;<span class="red-font">*</span> 
					<span id="check_name_info">填写下级单位名称</span>
				</td>
			</tr>
			<tr>
				<td class="tdleft">单位编码：</td>
				<td class="tdright">
					<input type="text" name="code" id="code" size="30" maxlength="20" class="intext" value="" />
					 &nbsp;单位编码填写需保证其唯一性，如为空系统将自动生成
				</td>
			</tr>
			<tr>
				<td class="tdleft">单位邮箱：</td>
				<td class="tdright">
					<input type="text" name="email" id="email" size="30" class="intext" value="" onblur="check_email_return('email','check_email_info', true, '');" />
					&nbsp;<span id="check_email_info"></span>
				</td>
			</tr>
			<tr>
				<td class="tdleft">备  注：</td>
				<td class="tdright">
					<textarea name="remark" wrap="soft" cols="37" rows="2" class="intext"></textarea>
				</td>
			</tr>
			<tr>
				<td class="tdleft">&nbsp;</td>
				<td class="tdright">
					<input type="checkbox" name="is_addself" checked />&nbsp;将本管理员帐号加入该单位管理组中（若不选中此项，也可以通过下级单位的[管理员帐号管理]功能再设置）
				</td>
			</tr>
			<tr>
				<td class="tdleft tdbottom">&nbsp;</td>
				<td class="tdright tdbottom">
			    <input type="submit" class="button" name="add_corp"  value="确定"  />
			    <input type="button" class="button" value="取消" onclick="window.history.back()" />
				</td>
			</tr>
			</table>
		</div>

	
</td></tr>
	</table>

	<script>	
		try {	$('name').focus(); } catch(e) {}
	</script>	

</form>

