<script>
function clear_logs()
{
	var frm = $('form1');
	frm.action = '/log/del';
	frm.method = 'POST';
	frm.submit();
}
</script>
<form id="form1">
	<table class="content" cellspacing="0" cellpadding="0">
	<tr><td>
	<div class="content_inke">
		<div class="list_top">
			<div class="content_menu_title1">管理日志 &nbsp;&nbsp;</div>
		</div>
		<div class="clear"></div>
		<div class="list_content01">
		<div id="main_content">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list_table_funcs">
			<tr>
				<td align="left">
					<input type="button" class="button" value="清除" onclick="clear_logs()"/> 
					<input type="text" name="days_num" size="1" value="30" class="intext" {/if !$is_admin/}readonly="readonly"{//if/}/> 天前的日志
				</td>
			<td align="right">
				每页
				<select onchange="set_per_page('log_limit','/ug/set_per_page/name/log_limit/num/'+this.options[this.options.selectedIndex].value);">
				{/$option_str/}
				</select>
				<div id="log_limit" style="display:none"></div>
				条
				&nbsp; {/$pages/}
			</td>
			</tr>
			</table>
			<table align="center" cellpadding="5px" cellspacing="0" class="list_table">
				<tr align="center" class="list_hr_bg">
					<td width="100" class="list_hr_colum">管理员账号</td>
					<td width="230" class="list_hr_colum">操作时间</td>
					<td width="120" class="list_hr_colum">IP</td>
					<td class="list_hr_colum">动作</td>
				</tr>
				{/section name=i loop=$logls/}
				<tr>  <!-- bgcolor="{/cycle values='#F5F5F5,#FFFFFF'/}" -->
					<td class="list_c">{/$logls[i].admin_account/}</td>
					<td class="list_c">{/$logls[i].opetime/}</td>
					<td class="list_c">{/$logls[i].ip/}</td>
					<td class="list_c">{/$logls[i].action/}</td>
				</tr>
				{//section/}
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list_table_funcs">
			<tr>
				<td align="right">
					每页
					<select onchange="set_per_page('log_limit','/ug/set_per_page/name/log_limit/num/'+this.options[this.options.selectedIndex].value);">
					{/$option_str/}
					</select>
					<div id="log_limit" style="display:none"></div>
					条
					&nbsp; {/$pages/}
				</td>
			</tr>
			</table>
		</div>
		</div>
	</div>
	</td></tr>
	</table>
</form>
