{template header}
{if $add_user_state =='view'}
	<form action="demo_add_user.php" method="POST">
	<table align="center" cellspacing="1" cellpadding="5">
		<tr><th colspan="2">增加用户</th></tr>
		<tr><td>帐户(非空唯一不能修改):</td><td><input type="text" name="user_account" value="" /></td></tr>
		<tr><td>用户名(非空可修改):</td><td><input type="text" name="user_name" value="" /></td></tr>
		<tr><td>显示名称(非空可修改):</td><td><input type="text" name="display_name" value="" /></td></tr>
		<tr><td>密码(非空可修改):</td><td><input type="password" name="user_pw" value="" /></td></tr>
		<tr><td colspan="2" align="center"><input type="submit" name="add_user_submit" value="提交"/></td></tr>
	</table>
	</form>
{else}
	{if $code==''}
	<table align="center" cellspacing="1" cellpadding="5">
		<tr><td>无法连接至服务器或XML解析出错!</td></tr>
	</table>	
	{else}
	<table align="center" cellspacing="1" cellpadding="5">
		<tr><th align="center">发送XML信息</th></tr>
		<tr><td align="center"><textarea cols="64" rows="15">$xml_view</textarea></td></tr>
	</table>	
	<table align="center" cellspacing="1" cellpadding="5">
		<tr><th align="center">返回XML信息</th></tr>
		<tr><td align="center"><textarea cols="64" rows="15">$data_xml_view</textarea></td></tr>
	</table>
	{/if}
{/if}
{template footer}

