body {background-color: #ffffff; color: #000000;}
body, td, th, h1, h2 {font-family: sans-serif;}
pre {margin: 0px; font-family: monospace;}
a:link,a:visited {color:#555555;text-decoration:none}
a:hover {color:#EB8A3D;text-decoration:underline}
table {border-collapse: collapse; }
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; font-size: 14px; text-align: left;}
.center th { text-align: center !important; }
td, th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
h1 {font-size: 150%;}
h2 {font-size: 125%;}
.p {text-align: left;}
.e {background-color: #ccccff; font-weight: bold; color: #000000;}
.h {background-color: #9999cc; font-weight: bold; color: #000000;}
.v {background-color: #cccccc; color: #000000;}
.vr {background-color: #cccccc; text-align: right; color: #000000;}
img {float: right; border: 0px;}
hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}

.content{ width:100%; background:#F6F6F8; height:100%;}
.content_inke{width:98%;height:auto;border: 2px solid #D5E1E8; margin:10px auto;}
.list_top{width:98%;height:30px; line-height:30px;clear:both;}
.list_content01{ width:98%; height:auto; margin:0px auto 5px auto;border:solid 1px #5F9CBC;}
.content_menu_title1{ float:left; text-indent: 15px; font-size: 12px; color:#00458A; white-space: nowrap;}